.recipe-create {
  &--title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}
