.error {
  flex-wrap: wrap;

  label {
    color: $color-red;
  }

  input {
    border: 1px solid $color-red;
  }

  .recipe-form--error {
    flex-basis: 100%;
  }
}

.recipe-form--error {
  color: $color-red;
}