.recipe-form {
  @include container(50%);

  @include breakpoint('bp-1200') {
    @include container(65%);
  }

  @include breakpoint('bp-1000') {
    @include container(80%);
  }

  @include breakpoint('bp-800') {
    @include container(100%);
  }

  @include breakpoint('bp-500') {
    text-align: center;
  }

  &--name,
  &--description,
  &--ingredient,
  &--directions {
    display: flex;
    justify-content: space-between;

    @include breakpoint('bp-500') {
      align-items: center;
      flex-direction: column;
    }

    input,
    textarea {
      width: 50%;

      @include breakpoint('bp-500') {
        width: 80%;
      }
    }

    textarea {
      height: 100px;
    }
  }

  &--name,
  &--description,
  &--ingredients {
    margin-bottom: 0.5rem;
  }

  &--ingredients {
    &__add {
      text-align: center;
    }

    &__label {
      margin-bottom: .25rem;
    }
    &__single {
      margin: 1rem 0;
    }
  }

  &--ingredient {

    &__amount {
      margin: .25rem 0;
    }
  }

  &--single-ingredient {
    text-align: right;

    @include breakpoint('bp-500') {
      text-align: center;
    }
  }
}
