.recipe-form {
  @include container(50%);

  &--name,
  &--description,
  &--ingredient,
  &--directions {
    display: flex;
    justify-content: space-between;

    input {
      width: 50%;
    }
  }

  &--name,
  &--description,
  &--ingredients {
    margin-bottom: 0.5rem;
  }

  &--ingredients {
    &__add {
      text-align: center;
    }

    &__label {
      margin-bottom: .25rem;
    }
    &__single {
      margin: 1rem 0;
    }
  }

  &--ingredient {

    &__amount {
      margin: .25rem 0;
    }
  }

  &--single-ingredient {
    text-align: right;
  }
}
