.recipe-list {

  &--response {
    font-family: $default-heading-font;
    font-size: 1.75rem;
    margin-bottom: .35rem;

    @include breakpoint('bp-600') {
      font-size: 1.35rem;
    }
  }

  &--divider {
    background-color: $color-green;
    border: 0;
    height: 2px;
    width: 10%;
  }
}