.modal {
  background-color: rgba($color-black, 0.85);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &--content {
    background-color: $color-white;
    left: 50%;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint('bp-600') {
      width: 90%;
    }

    &__title {
      font-family: 'Roboto Slab', serif;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__text {
      margin-bottom: 1rem;
    }

    &__actions {
      text-align: right;
    }
  }
}
