.header {
  align-items: center;
  background-color: $color-purple;
  display: flex;
  font-family: $default-heading-font;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  @include breakpoint('bp-600') {
    flex-direction: column;
  }

  &--link {
    &__brand {
      color: $color-white;
      font-size: 1.75rem;

      @include breakpoint('bp-600') {
        margin-bottom: .5rem;
      }

      @include breakpoint('bp-500') {
        font-size: 1.25rem;
      }
    }
  }
}
