.header {
  align-items: center;
  background-color: $color-blue;
  display: flex;
  font-family: 'Roboto Slab', serif;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  &--link {
    &__brand {
      color: $color-black;
      font-size: 1.75rem;
    }
  }
}
