// Colors
$color-black: rgb(0, 0, 0);
$color-blue: rgb(27, 152, 224);
$color-gray: rgb(225, 226, 225);
$color-green: rgb(116, 156, 117);
$color-purple: rgb(93, 74, 102);
$color-red: rgb(244, 67, 54);
$color-red-light: rgb(249, 181, 172);
$color-white: rgb(255, 255, 255);

// Fonts
$default-heading-font: 'Roboto Slab', serif;

// Breakpoints
$breakpoints: (
  'bp-1200': (max-width: 75em),
  'bp-1000': (max-width: 62.5em),
  'bp-800': (max-width: 50em),
  'bp-600': (max-width: 37.5em),
  'bp-500': (max-width: 31.25em)
)